@import "tailwindcss";

/* Corporate Theme - Option A */

body {
    background-color: #FFFFFF;
    color: #333333;
}

.small-text {
    color: #FFFFFF; 
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.signup-form input[name="phone"] {
    border: 1px solid #CCCCCC;
    padding: 10px;
}